@charset "utf-8";

// font cdn
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

// 초기화 영역
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Noto Sans KR', sans-serif, 'Nanum Myeongjo', serif;
  line-height: 1.4;
}


// 공통 영역

// .clearfix {
//   content: '';
//   position: relative;
//   display: block;
//   width: 100%;
//   clear: both;
// }

.click-bt {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  transition: all 0.5s;

  &:hover {
    transform: rotate(180deg);
  }


  &::before {
    display: block;
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
  }

  &::after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
  }

}


/*=== wrap 레이아웃 ===*/
.wrap {
  position: relative;
  display: block;
}

/*=== first-page ===*/
.first-page {
  position: relative;
  display: block;
  width: 100%;
  height: 940px;
  background-color: rgb(180, 178, 178);
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  z-index: 9999;
  overflow: hidden;
  transition: height 0.5s ease;

  .logo {
    position: absolute;
    top: 30px;
    left: 60px;
    display: block;
    width: 135px;
    height: 45px;
    background: url('../images/logo.svg') no-repeat center;
    background-size: contain;
  }


  .main-gnb {
    position: relative;
    display: flex;
    justify-content: center;
    height: 340px;
    font-size: 20px;
    transition: all 0.5s;



    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 100vw;
      height: 100px;
      background-color: rgba(255, 255, 255, 0);
      z-index: -1;
    }

    &:hover ::before {
      background-color: rgba(255, 255, 255, 1);
    }

    &::after {
      content: '';
      position: absolute;
      top: 100px;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 100vw;
      height: 240px;
      background-color: rgba(255, 255, 255, 1);
      border-top: 1px solid #d5d5d5;
      z-index: -1;
    }


    &:hover {
      background-color: #fff;

      >li>a {
        color: #1f2c4b;
      }
    }

    >li {
      position: relative;
      display: block;
      height: 100px;
      text-align: center;
      border-bottom: 2px solid transparent;
      transition: all 0.6s;

      &:hover {
        border-bottom: 2px solid #1f2c4b;
      }

      &:hover>a {
        color: #1f2c4b;
      }


      >a {
        position: relative;
        display: flex;
        height: 100px;
        padding: 0 60px;
        color: #fff;
        opacity: 0.7;
        align-items: center;


      }

    }

  }

  .application-bt {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #1d2c4a;
    padding-top: 25px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 1.4;
    transition: all 0.5s;

    &:hover {
      background-color: #fff;
      box-shadow: 5px 5px 30px #1d2c4a;
      color: #1d2c4a;
    }
  }


}

.subgnb {
  position: relative;
  display: block;
  height: calc(100% - 240px);
  transition: background-color 0.5s;
  padding-top: 10px;
  border-top: 1px solid #d5d5d5;

  >li {
    position: relative;
    display: block;
    border-bottom: 1px solid transparent;

    >a {
      position: relative;
      display: block;
      width: 100%;
      font-size: 16px;
      padding: 10px 0;
      color: #1d2c4a;

      &:hover span {
        border-bottom: 1px solid #1f2c4b;
      }
    }
  }
}

.f-r-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 22vw;
  height: 100%;
  z-index: 999;

  .r-menuin {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    li {
      position: relative;
      display: block;
      width: 100%;
      height: 25%;
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);


      a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        padding-left: 70px;
        transition: all 0.5s;

        &:hover {
          background-color: rgba(10, 10, 85, 0.4);
        }

        &:hover span {
          opacity: 1;
        }

        &:hover .r-main-txt {
          top: 65px;
        }
      }

      span {
        position: absolute;
        left: 70px;
        bottom: 50px;
        font-size: 15px;
        font-weight: 300;
        color: #fff;
        line-height: 1;
        opacity: 0;
        transition: all 0.7s;

        &::after {
          content: '';
          position: relative;
          display: inline-block;
          width: 56px;
          height: 12px;
          background: url('../images/arrow.png') no-repeat center;
          background-size: cover;
          margin-left: 60px;
        }
      }

    }
  }
}

.r-main-txt {
  position: absolute;
  top: 84px;
  display: block;
  color: #fff;
  transition: all 0.5s;

  strong {
    font-size: 37px;
    font-weight: 700;
  }

  p {
    font-size: 16px;
    margin-top: 20px;
  }
}

.f-mtxtin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
}

.f-main-txtbox {
  position: relative;
  display: block;
  width: 1600px;
  margin: 0 auto;
  color: #fff;


  p {
    position: relative;
    display: block;
    font-size: 22px;
    font-weight: 300;

  }

  strong {
    position: relative;
    display: block;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 85px;
    font-weight: 700;
    margin-top: 25px;

  }

  .palystop-bt {
    position: relative;
    display: block;
    width: 64px;
    height: 69px;
    background-color: rgba(255, 0, 50, 0.5);
    margin-top: 110px;
  }
}



.kakao-bt {
  position: absolute;
  bottom: 0;
  left: 52px;
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url('../images/icon-kakaotalk.svg') no-repeat center;
  background-size: 50px auto;
  background-color: #86786f;
  transition: all 0.3s;


  &:hover {
    box-shadow: 5px 5px 30px #1d2c4a;
    background: url('../images/icon-kakaotalk-png변환버전그레이.png') no-repeat center;
    background-size: 50px auto;
    background-color: #fff;
  }
}

.scroll-stick {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;

  span {
    display: inline-block;
    color: #fff;
    writing-mode: vertical-rl;
  }

  .w-bar {
    position: relative;
    top: 0;
    left: 8px;
    display: block;
    width: 1px;
    height: 130px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 15px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 1px;
      height: 0px;
      background-color: rgba(255, 255, 255, 1);


    }

  }
}

/*=== /// first-page ===*/




/*=== Pergola set ===*/
.pergola-set {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 240px 0;
  // background-color: rgb(128, 223, 223);

  .pergola-set-bg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    width: 1500px;
    margin-top: 193px;
    margin-left: 51px;
    opacity: 0.15;
  }

  ul {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    li {
      position: relative;
      display: block;
      width: 100%;
    }
  }

  .pla-set-inner {
    position: relative;
    display: flex;
    justify-content: center;
    width: 1600px;
    // background-color: rgb(228, 222, 222);
    margin: 0 auto;


    span {
      position: relative;
      display: block;
      font-size: 18px;
      font-weight: 500;
    }

    strong {
      position: relative;
      display: block;
      font-family: 'Nanum Myeongjo', serif;
      font-size: 62px;
      margin-top: 60px;
      font-weight: bold;
    }

    p {
      position: relative;
      display: block;
      font-size: 20px;
      margin: 40px 0 110px;
    }

  }

}





.pro-main {
  height: 100%;
  // background-color: red;

  .pla-set-inner {
    padding: 0 160px;
    margin-bottom: 230px;



  }

  .pro-imgbox {
    position: relative;
    display: block;
    margin-right: 95px;

    a {
      position: relative;
      display: block;
      width: 662px;
      height: 826px;
      background: url('../images/pergola.img-1.jpg') no-repeat center;
      background-size: cover;


    }
  }

  .pro-txtbox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;


  }
}



.air-main {
  height: 100%;

  .pla-set-inner {
    margin-bottom: 230px;
    padding-right: 160px;
    justify-content: space-between;
  }

  .air-imgbox {
    position: relative;
    display: block;
    margin-left: 95px;

    a {
      position: relative;
      display: block;
      width: 826px;
      height: 662px;
      background: url('../images/pergola.img-2.jpg') no-repeat center;
      background-size: cover;
    }
  }

  .air-txtbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.sta-main {
  height: 100%;


  .pla-set-inner {
    padding-right: 160px;
    margin-bottom: 230px;
    justify-content: flex-end;
  }

  .sta-imgbox {
    position: relative;
    display: block;
    margin-right: 95px;

    a {
      position: relative;
      display: block;
      width: 662px;
      height: 826px;
      background: url('../images/pergola.img-3.jpg') no-repeat center;
      background-size: cover;
    }
  }

  .sta-txtbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.orc-main {
  height: 100%;


  .pla-set-inner {
    justify-content: space-between;
  }

  .orc-imgbox {
    position: relative;
    display: block;
    margin-left: 95px;

    a {
      position: relative;
      display: block;
      width: 1100px;
      height: 693px;
      background: url('../images/pergola.img-4.jpg') no-repeat center;
      background-size: cover;
    }
  }

  .orc-txtbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/*=== /// Pergola set ===*/




/*=== Parasol set ===*/
.parasol-set {
  position: relative;
  display: block;
  width: 100%;
  height: 1420px;
  background-color: #f6f6f6;
  padding: 240px 0;
  overflow: hidden;

  h3 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
  }
}

.sol-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 805px;
}


.slidepart {
  position: relative;
  display: block;
  width: calc(1430px * 3);
  height: 900px;
  margin-left: -1185px;

  .sw-paraosl {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    
    .swiper-slide {
      text-align: center;
    }
    
    .parasol-slide {
      position: relative;
      display: block;
      width: 1430px;
      height: 715px;
    }
    
  }
  .swiper-container {
    height: 900px;
  }

  .sw-sol-nav {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 1830px;
    height: 100px;
    z-index: 999999;

    .sw-sol-next {
      width: 10px;
      height: 20px;
    }
    .sw-sol-prev {
      width: 10px;
      height: 20px;
    }
  }
}


.sol-img {
  position: relative;
  display: block;
  width: 1430px;
  height: 715px;
  transition: all 0.8s;
}
.swiper-slide .sol-img {
  transform: scale(0.8);
  filter: brightness(50%);
}
.swiper-slide-active .sol-img {
  transform: scale(1);
  filter: brightness(100%);
}


.sol-img1 {
  background: url('../images/parasol-slide.1.png') no-repeat center;
  background-size: cover;
}

.sol-img2 {
  background: url('../images/parasol-slide.2.png') no-repeat center;
  background-size: cover;
}

.sol-img3 {
  background: url('../images/parasol-slide.3.png') no-repeat center;
  background-size: cover;
}

.sol-img4 {
  background: url('../images/parasol-slide.4.png') no-repeat center;
  background-size: cover;
}

.sol-img5 {
  background: url('../images/parasol-slide.5.png') no-repeat center;
  background-size: cover;
}

.sol-img6 {
  background: url('../images/parasol-slide.6.png') no-repeat center;
  background-size: cover;
}

.sol-img7 {
  background: url('../images/parasol-slide.7.png') no-repeat center;
  background-size: cover;
}

.sol-img8 {
  background: url('../images/parasol-slide.8.png') no-repeat center;
  background-size: cover;
}

.sol-img9 {
  background: url('../images/parasol-slide.9.png') no-repeat center;
  background-size: cover;
}


.parasol-txt {
  position: absolute;
  top: calc(715px - 100px);
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 915px;
  background-color: #f6f6f6;
  padding: 40px 45px;

  .plus {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #1D2C4A;
    text-align: center;
    padding-top: 26px;
    z-index: 999;
    
    .click-bt {
      &::before {
        background: #fff;
      }
      &::after {
        background: #fff;
      }
    }
  }

  b {
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: 600;
  }

  h4 {
    position: relative;
    display: block;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 57px;
    font-weight: 400;
    margin: 10px 0;
  }

  p {
    font-size: 16px;
    line-height: 1.7;
    word-break: keep-all;
  }
}


/*=== ///Parasol set ===*/




/*===  Shade & Roofniture ===*/
.s-and-r {
  position: relative;
  display: block;
  width: 100%;
  height: 910px;
  background-color: rgb(49, 0, 0);

  .s-and-r-bg {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    background: url('../images/shade.jpg') no-repeat center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1);

    &::before {
      content: "";
      opacity: 0.4;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background-color: rgb(37, 37, 83);

    }


    li {
      position: relative;
      display: block;
      width: 50%;
      height: 100%;

      &:first-child {
        border-right: 1px solid rgba(255, 255, 255, 0.5);
      }

      a {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #fff;
        text-align: center;
        // transition: all 2s;

        &:hover span {
          border-color: #1D2C4A;
          background-color: #1D2C4A;
        }

        strong {
          font-size: 63px;
          font-family: 'Nanum Myeongjo', serif;
          font-weight: bold;
        }

        p {
          font-size: 18px;
          line-height: 1.7;
          margin-top: 23px;
        }

        span {
          position: relative;
          display: inline-block;
          font-size: 17px;
          font-weight: 300;
          border: 1px solid #fff;
          padding: 15px 47px;
          margin-top: 100px;
        }
      }
    }
  }
}

/*===  /// Shade & Roofniture ===*/



/*===  Project ===*/
.project {
  position: relative;
  display: block;
  width: 100%;
  height: 2410px;
  padding: 240px 0;
}

.project-bgtxt {
  position: absolute;
  top: 0;
  right: 15px;
  display: block;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 172px;
  color: #f3f4f6;
  font-weight: 500;
  line-height: 1.05;
}

.project-inner {
  position: relative;
  display: block;
  width: 1600px;
  height: 100%;
  // background-color: rgba(0, 0, 0, 0.1);
  margin: 0 auto;

  h3 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 60px;
    font-weight: 400;
  }

  p {
    font-size: 18px;
    font-weight: 300;
    margin-top: 22px;
  }
}

.project-imgpart {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 130px;
  // background-color: rgba(0, 0, 255, 0.1);
}

.project-imgbox {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
  // background-color: #c0cce4;
}

.project-itembox {
  position: relative;
  display: block;
  box-shadow: 14px 40px 68px 18px rgb(25 32 66 / 30%);
  overflow: hidden;

  &:hover {
    .project-txt {
      opacity: 1;
      top: 0;
    }
  }
}

.project-txt {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #86786f;
  color: #fff;
  padding: 65px;
  opacity: 0;
  transition: all 1.5s;




  h5 {
    font-size: 17px;
    display: block;
  }

  strong {
    display: block;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 60px;
    font-weight: 400;
    margin-top: 70px;
  }

  p {
    display: block;
    font-size: 25px;
    margin-top: 23px;
  }

}


.more-view-bt {
  position: relative;
  display: inline-block;
  font-size: 18px;
  margin-top: 100px;
  padding-bottom: 7px;

  &::after {
    content: '';
    position: absolute;
    margin-top: 6px;
    display: block;
    width: 90px;
    height: 2px;
    background-color: #fff;
    transition: all 0.5s;
  }

  &:hover {
    &::after {
      animation-name: roadbar;
      animation-duration: 1s;
      animation-iteration-count: 1;
    }
  }
}

.project-itembox-1 {
  left: -34px;
  width: 814px;
  height: 472px;
  margin-bottom: 200px;

  .project-img1 {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/project-1.jpg') no-repeat center;
    background-size: cover;
  }

  .project-txt-1 {
    text-align: right;

    span {

      &::after {
        right: 0;
      }
    }
  }
}

.project-itembox-3 {
  left: 80px;
  width: 560px;
  height: 745px;

  .project-img3 {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/project-3.jpg') no-repeat center;
    background-size: cover;
  }

}

.project-itembox-2 {
  left: 180px;
  width: 583px;
  height: 740px;
  margin-top: 300px;

  .project-img2 {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/project-2.jpg') no-repeat center;
    background-size: cover;
  }
}

.project-itembox-4 {
  left: 40px;
  width: 774px;
  height: 433px;
  margin-top: 200px;

  .project-img4 {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/project-4.jpg') no-repeat center;
    background-size: cover;
  }
}

/*===  /// Project ===*/




/*===  Contact us ===*/
.contact-us {
  position: relative;
  display: block;
  width: 100%;
  height: 680px;
  background: url('../images/contact.jpg') no-repeat center;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #1d2c4a;
    opacity: 0.5;
  }
}


.con-us-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 1600px;
  color: #fff;

  .con-us-txtbox {
    position: relative;
    display: block;

    h3 {
      font-family: 'Nanum Myeongjo', serif;
      font-size: 60px;
      font-weight: 400;
    }

    p {
      font-size: 18px;
      font-weight: 300;
      margin-top: 22px;
    }
  }

  a {
    position: relative;
    display: inline-block;
    font-size: 18px;
    color: #fff;
    margin-top: 90px;
    padding-bottom: 7px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: #fff;
    }
  }
}

/*===  /// Contact us ===*/


/*===  footer ===*/
.footer {
  position: relative;
  display: block;
  width: 100%;
  height: 471px;
  background-color: #242424;
  padding: 65px;
  color: #7e7e7e;
}

.footer-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 1600px;
  text-align: center;

  strong {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
  }

  b {
    display: block;
    font-size: 37px;
    margin: 3px 0 20px;
    line-height: 1;
    font-weight: bold;
  }

  p {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    line-height: 1.6;

  }

  a {
    display: inline-block;
    width: 133px;
    height: 39px;
    background: url('../images/logo.svg') no-repeat center;
    background-size: contain;
    opacity: 0.4;
    margin-top: 50px;
  }

  h6 {
    margin-top: 18px;
    font-size: 16px;
  }

  span {
    font-size: 15px;
    color: #fff;
  }

}

.sns-link {
  position: absolute;
  top: 65px;
  right: 160px;
  display: flex;
  align-items: center;
  z-index: 999999;



  a {
    position: relative;
    display: block;
    width: 27px;
    height: 27px;
    opacity: 0.4;
    margin-right: 26px;
    transition: all 0.5s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: 1;
    }
  }

  .blog {
    background: url('../images/icon-blog-wh.svg') no-repeat center;
    background-size: contain;

  }

  .facebook {
    background: url('../images/icon-facebook.svg') no-repeat center;
    background-size: contain;
  }

  .youtube {
    background: url('../images/icon-youtube.svg') no-repeat center;
    background-size: contain;
  }

  .instargram {
    background: url('../images/icon-insta.svg') no-repeat center;
    background-size: contain;
  }
}

.gotop {
  position: fixed;
  bottom: 50px;
  right: 30px;
  display: block;
  width: 70px;
  height: 70px;
  background-color: #1d2c4a;
  z-index: 99999;

  &:hover span {
    top: 35%;
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    transition: all 0.5s;
  }

}

/*===  /// footer ===*/



// 애니메이션

.fade {
  animation-name: fade;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeup-1 {
  animation-name: fadeup-1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes fadeup-1 {
  0% {
    opacity: 0;
    top: 150px;
  }

  100% {
    opacity: 1;
    top: 0px;
  }
}

.fadeup-2 {
  animation-name: fadeup-2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes fadeup-2 {
  0% {
    opacity: 0;
    top: 300px;
  }

  100% {
    opacity: 1;
    top: 0px;
  }
}

.radius-effect {
  animation-name: radius-effect;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes radius-effect {
  0% {
    border-radius: 200px;
  }

  100% {
    border-radius: 0;
  }
}

@keyframes roadbar {
  0% {
    width: 0;
  }

  100% {
    width: 90px;
  }
}