@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Noto Sans KR", sans-serif, "Nanum Myeongjo", serif;
  line-height: 1.4;
}

/*=== first-page ===*/
.first-page {
  position: relative;
  display: block;
  width: 100%;
  height: 940px;
  background-color: rgb(180, 178, 178);
}

.header {
  position: relative;
  display: block;
  width: 100%;
  height: 100px;
  z-index: 99;
}
.header .logo {
  position: absolute;
  top: 30px;
  left: 60px;
  display: block;
  width: 135px;
  height: 45px;
  background: url("../images/logo.svg") no-repeat center;
  background-size: contain;
}
.header .main-gnb {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
}
.header .main-gnb li {
  position: relative;
  display: block;
  height: 100%;
}
.header .main-gnb li > a {
  position: relative;
  display: flex;
  height: 100%;
  padding: 0 60px;
  color: #fff;
  opacity: 0.7;
  align-items: center;
}
.header .application-bt {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100px;
  height: 100px;
  background-color: #1d2c4a;
  padding-top: 25px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  line-height: 1.4;
}
.header .application-bt:hover {
  background-color: #fff;
  color: #1d2c4a;
}

.f-r-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 22vw;
  height: 100%;
  background-color: gray;
}
.f-r-menu .r-menuin {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.f-r-menu .r-menuin li {
  position: relative;
  display: block;
  width: 100%;
  height: 25%;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.f-r-menu .r-menuin li > a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 70px;
}
.f-r-menu .r-main-txt {
  position: absolute;
  top: 84px;
  display: block;
  color: #fff;
}
.f-r-menu .r-main-txt strong {
  font-size: 37px;
  font-weight: 700;
}
.f-r-menu .r-main-txt p {
  font-size: 16px;
  margin-top: 20px;
}

.f-main-txtbox {
  position: relative;
  display: block;
  width: 1600px;
  margin: 0 auto;
  background-color: beige;
  color: #fff;
  margin-top: 210px;
}
.f-main-txtbox p {
  position: relative;
  display: block;
  font-size: 22px;
  font-weight: 300;
}
.f-main-txtbox strong {
  position: relative;
  display: block;
  font-family: "Nanum Myeongjo", serif;
  font-size: 85px;
  font-weight: 700;
  margin-top: 25px;
}

.kakao-bt {
  position: absolute;
  bottom: 0;
  left: 52px;
  display: block;
  width: 100px;
  height: 100px;
  background: url("../images/icon-kakaotalk.svg") no-repeat center;
  background-size: 50px auto;
  background-color: #86786f;
}

.scroll-stick {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}
.scroll-stick span {
  display: inline-block;
  color: #fff;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
}
.scroll-stick .w-bar {
  position: relative;
  top: 0;
  left: 6px;
  display: block;
  width: 1px;
  height: 130px;
  background-color: #fff;
  margin-top: 15px;
}

/*=== /// first-page ===*/
/*=== Pergola set ===*/
.pergola-set {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 240px 0;
  background-color: rgb(128, 223, 223);
}
.pergola-set ul {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.pergola-set ul li {
  position: relative;
  display: block;
  width: 100%;
}
.pergola-set .pla-set-inner {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1600px;
  background-color: rgb(228, 222, 222);
  margin: 0 auto;
}
.pergola-set .pla-set-inner span {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 500;
}
.pergola-set .pla-set-inner strong {
  position: relative;
  display: block;
  font-family: "Nanum Myeongjo", serif;
  font-size: 62px;
  margin-top: 60px;
  font-weight: bold;
}
.pergola-set .pla-set-inner p {
  position: relative;
  display: block;
  font-size: 20px;
  margin: 40px 0 110px;
}
.pergola-set .pla-set-inner .click-bt {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
}
.pergola-set .pla-set-inner .click-bt::before {
  display: block;
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
}
.pergola-set .pla-set-inner .click-bt::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
}

.pro-main {
  height: 100%;
  background-color: red;
}
.pro-main .pla-set-inner {
  padding: 0 160px;
  margin-bottom: 230px;
}
.pro-main .pro-imgbox {
  position: relative;
  display: block;
  margin-right: 95px;
}
.pro-main .pro-imgbox a {
  position: relative;
  display: block;
  width: 662px;
  height: 826px;
  background: url("../images/pergola.img-1.jpg") no-repeat center;
  background-size: cover;
}
.pro-main .pro-txtbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.air-main {
  height: 100%;
  background-color: green;
}
.air-main .pla-set-inner {
  margin-bottom: 230px;
  padding-right: 160px;
  justify-content: space-between;
}
.air-main .air-imgbox {
  position: relative;
  display: block;
  margin-left: 95px;
}
.air-main .air-imgbox a {
  position: relative;
  display: block;
  width: 826px;
  height: 662px;
  background: url("../images/pergola.img-2.jpg") no-repeat center;
  background-size: cover;
}
.air-main .air-txtbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sta-main {
  height: 100%;
  background-color: blue;
}
.sta-main .pla-set-inner {
  padding-right: 160px;
  margin-bottom: 230px;
  justify-content: flex-end;
}
.sta-main .sta-imgbox {
  position: relative;
  display: block;
  margin-right: 95px;
}
.sta-main .sta-imgbox a {
  position: relative;
  display: block;
  width: 662px;
  height: 826px;
  background: url("../images/pergola.img-3.jpg") no-repeat center;
  background-size: cover;
}
.sta-main .sta-txtbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.orc-main {
  height: 100%;
  background-color: brown;
}
.orc-main .pla-set-inner {
  justify-content: space-between;
}
.orc-main .orc-imgbox {
  position: relative;
  display: block;
  margin-left: 95px;
}
.orc-main .orc-imgbox a {
  position: relative;
  display: block;
  width: 1100px;
  height: 693px;
  background: url("../images/pergola.img-4.jpg") no-repeat center;
  background-size: cover;
}
.orc-main .orc-txtbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*=== /// Pergola set ===*/
/*=== Parasol set ===*/
.parasol-set {
  position: relative;
  display: block;
  width: 100%;
  height: 1420px;
  background-color: #f6f6f6;
  padding: 240px 0;
}

.sol-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 805px;
}

.slidepart {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #c0cce4;
}
.slidepart h3 {
  font-family: "Nanum Myeongjo", serif;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
}

/*=== ///Parasol set ===*/
/*===  Shade & Roofniture ===*/
.s-and-r {
  position: relative;
  display: block;
  width: 100%;
  height: 910px;
  background-color: rgb(49, 0, 0);
}
.s-and-r .s-and-r-bg {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background: url("../images/shade.jpg") no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
}
.s-and-r .s-and-r-bg::before {
  content: "";
  opacity: 0.4;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgb(37, 37, 83);
}
.s-and-r .s-and-r-bg li {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
}
.s-and-r .s-and-r-bg li:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.s-and-r .s-and-r-bg li a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
}
.s-and-r .s-and-r-bg li a:hover span {
  border-color: #1D2C4A;
  background-color: #1D2C4A;
}
.s-and-r .s-and-r-bg li a strong {
  font-size: 63px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: bold;
}
.s-and-r .s-and-r-bg li a p {
  font-size: 18px;
  line-height: 1.7;
  margin-top: 23px;
}
.s-and-r .s-and-r-bg li a span {
  position: relative;
  display: inline-block;
  font-size: 17px;
  font-weight: 300;
  border: 1px solid #fff;
  padding: 15px 47px;
  margin-top: 100px;
}

/*===  /// Shade & Roofniture ===*/
/*===  Project ===*/
.project {
  position: relative;
  display: block;
  width: 100%;
  height: 2410px;
  background-color: rgb(117, 126, 123);
  padding: 240px 0;
}

.pro-bgtxt {
  position: absolute;
  top: 0;
  right: 15px;
  display: block;
  font-family: "Nanum Myeongjo", serif;
  font-size: 172px;
  color: #f3f4f6;
  font-weight: 500;
  line-height: 1.05;
}

.pro-inner {
  position: relative;
  display: block;
  width: 1600px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.pro-inner h3 {
  font-family: "Nanum Myeongjo", serif;
  font-size: 60px;
  font-weight: 400;
}
.pro-inner p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 22px;
}

.pro-imgpart {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 130px;
  background-color: rgba(0, 0, 255, 0.1);
}

.pro-imgbox {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
  background-color: #c0cce4;
}

/*===  /// Project ===*/
/*===  Contact us ===*/
.contact-us {
  position: relative;
  display: block;
  width: 100%;
  height: 680px;
  background: url("../images/contact.jpg") no-repeat center;
  background-size: cover;
}
.contact-us::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #1d2c4a;
  opacity: 0.5;
}

.con-us-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 1600px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}
.con-us-inner .con-us-txtbox {
  position: relative;
  display: block;
}
.con-us-inner .con-us-txtbox h3 {
  font-family: "Nanum Myeongjo", serif;
  font-size: 60px;
  font-weight: 400;
}
.con-us-inner .con-us-txtbox p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 22px;
}
.con-us-inner a {
  position: relative;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  margin-top: 90px;
  padding-bottom: 7px;
}
.con-us-inner a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}

/*===  /// Contact us ===*/
/*===  footer ===*/
.footer {
  position: relative;
  display: block;
  width: 100%;
  height: 471px;
  background-color: #242424;
  padding: 65px;
  color: #7e7e7e;
}

.footer-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 1600px;
  text-align: center;
}
.footer-inner strong {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.footer-inner b {
  display: block;
  font-size: 37px;
  margin: 3px 0 20px;
  line-height: 1;
  font-weight: bold;
}
.footer-inner p {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 15px;
  line-height: 1.6;
}
.footer-inner a {
  display: inline-block;
  width: 133px;
  height: 39px;
  background: url("../images/logo.svg") no-repeat center;
  background-size: contain;
  opacity: 0.4;
  margin-top: 50px;
}
.footer-inner h6 {
  margin-top: 18px;
  font-size: 16px;
}
.footer-inner span {
  font-size: 15px;
  color: #fff;
}

.sns-link {
  position: absolute;
  top: 65px;
  right: 160px;
  display: flex;
  align-items: center;
}
.sns-link a {
  position: relative;
  display: block;
  width: 27px;
  height: 27px;
  opacity: 0.4;
  margin-right: 26px;
}
.sns-link a:last-child {
  margin-right: 0;
}
.sns-link .blog {
  background: url("../images/icon-blog-wh.svg") no-repeat center;
  background-size: contain;
}
.sns-link .facebook {
  background: url("../images/icon-facebook.svg") no-repeat center;
  background-size: contain;
}
.sns-link .youtube {
  background: url("../images/icon-youtube.svg") no-repeat center;
  background-size: contain;
}
.sns-link .instargram {
  background: url("../images/icon-insta.svg") no-repeat center;
  background-size: contain;
}

/*===  /// footer ===*//*# sourceMappingURL=main.css.map */