@charset "utf-8";

// font cdn
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

// 초기화 영역
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Noto Sans KR', sans-serif, 'Nanum Myeongjo', serif;
}


// 공통 영역
// .clearfix {
//   content: '';
//   position: relative;
//   display: block;
//   width: 100%;
//   clear: both;
// }


/*=== first-page ===*/
.first-page {
  position: relative;
  display: block;
  width: 100%;
  height: 940px;
  background-color: rgb(180, 178, 178);
}

.header {
  position: relative;
  display: block;
  width: 100%;
  height: 100px;
  z-index: 99;

  .logo {
    position: absolute;
    top: 30px;
    left: 60px;
    display: block;
    width: 135px;
    height: 45px;
    background: url('../images/logo.svg') no-repeat center;
    background-size: contain;
  }

  .main-gnb {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;

    li {
      position: relative;
      display: block;
      height: 100%;
    }

    li>a {
      position: relative;
      display: flex;
      height: 100%;
      padding: 0 60px;
      color: #fff;
      opacity: 0.7;
      align-items: center;
    }
  }

  .application-bt {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #1d2c4a;
    padding-top: 25px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 1.4;

    &:hover {
      background-color: #fff;
      color: #1d2c4a;
    }
  }


}

.f-r-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 22vw;
  height: 100%;
  background-color: gray;

  .r-menuin {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    li {
      position: relative;
      display: block;
      width: 100%;
      height: 25%;
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);

      >a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        padding-left: 70px;

      }
    }
  }

  .r-main-txt {
    position: absolute;
    top: 84px;
    display: block;
    color: #fff;

    strong {
      font-size: 37px;
      font-weight: 700;
    }

    p {
      font-size: 16px;
      margin-top: 20px;
    }
  }
}

.f-main-txtbox {
  position: relative;
  display: block;
  width: 1600px;
  margin: 0 auto;
  background-color: beige;
  color: #fff;
  margin-top: 210px;

  p {
    position: relative;
    display: block;
    font-size: 22px;
    font-weight: 300;
  }

  strong {
    position: relative;
    display: block;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 85px;
    font-weight: 700;
    margin-top: 25px;
  }
}



.kakao-bt {
  position: absolute;
  bottom: 0;
  left: 52px;
  display: block;
  width: 100px;
  height: 100px;
  background: url('../images/icon-kakaotalk.svg') no-repeat center;
  background-size: 50px auto;
  background-color: #86786f;
}

.scroll-stick {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;

  span {
    display: inline-block;
    color: #fff;
    writing-mode: vertical-rl;
  }

  .w-bar {
    position: relative;
    top: 0;
    left: 6px;
    display: block;
    width: 1px;
    height: 130px;
    background-color: #fff;
    margin-top: 15px;
  }
}

/*=== ///first-page ===*/


/*=== Pergola set ===*/
.pergola-set {
  position: relative;
  display: block;
  width: 100%;
  height: 4200px;
  padding-top: 240px;
  background-color: rgb(128, 223, 223);

  ul {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    li {
      position: relative;
      display: block;
      width: 100%;
    }
  }

  .pla-set-inner {
    position: relative;
    display: flex;
    justify-content: center;
    width: 1600px;
    height: 100%;
    background-color: rgb(228, 222, 222);
    margin: 0 auto;

    span {
      position: relative;
      display: block;
      font-size: 18px;
      font-weight: 500;
    }

    strong {
      position: relative;
      display: block;
      font-family: 'Nanum Myeongjo', serif;
      font-size: 62px;
      margin-top: 60px;
    }

    p {
      position: relative;
      display: block;
      font-size: 20px;
      margin: 40px 0 110px;
    }

    .click-bt {
      display: inline-block;
      position: relative;
      width: 48px;
      height: 48px;


      &::before {
        display: block;
        content: '';
        width: 1px;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #000;
      }

      &::after {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #000;
      }



    }

  }

}


.pro-main {
  height: 1056px;
  background-color: red;

  .pla-set-inner {
    padding: 0 160px;
  }

  .pro-imgbox {
    position: relative;
    display: block;
    margin-right: 95px;

    a {
      position: relative;
      display: block;
      width: 662px;
      height: 826px;
      background: url('../images/pergola.img-1.jpg') no-repeat center;
      background-size: cover;
    }
  }

  .pro-txtbox {
    height: 826px;

  }
}

.air-main {
  height: 892px;
  background-color: green;
}

.sta-main {
  height: 1056px;
  background-color: blue;
}

.orc-main {
  height: 933px;
  background-color: brown;
}

/*=== ///Pergola set ===*/