@charset "utf-8";

// font cdn
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

// 초기화 영역
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Noto Sans KR', sans-serif, 'Nanum Myeongjo', serif;
  line-height: 1.4;
}


// 공통 영역
// .clearfix {
//   content: '';
//   position: relative;
//   display: block;
//   width: 100%;
//   clear: both;
// }


/*=== first-page ===*/
.first-page {
  position: relative;
  display: block;
  width: 100%;
  height: 940px;
  background-color: rgb(180, 178, 178);
}

.header {
  position: relative;
  display: block;
  width: 100%;
  height: 100px;
  z-index: 99;

  .logo {
    position: absolute;
    top: 30px;
    left: 60px;
    display: block;
    width: 135px;
    height: 45px;
    background: url('../images/logo.svg') no-repeat center;
    background-size: contain;
  }

  .main-gnb {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
    border-bottom: 1px solid red;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 400px;
      background-color: rgba(255, 255, 255, 0);
      z-index: -1;
    }

    > li {
      position: relative;
      display: block;
      height: 100%;
      text-align: center;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 2px solid #1f2c4b;
        background-color: #fff;
      }
      &:hover > a {
        color: #1f2c4b;
      }
      &:hover .subgnb {
        visibility: visible;
      }

      > a {
        position: relative;
        display: flex;
        height: 100%;
        padding: 0 60px;
        color: #fff;
        opacity: 0.7;
        align-items: center;

        
      }

    }

  }

  .application-bt {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #1d2c4a;
    padding-top: 25px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 1.4;
    transition: all 0.5s;

    &:hover {
      background-color: #fff;
      box-shadow: 5px 5px 30px #1d2c4a;
      color: #1d2c4a;
    }
  }


}

.subgnb {
  position: relative;
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  visibility: hidden;

  > li {
    position: relative;
    display: block;
    border-bottom: 1px solid transparent;

    > a {
      position: relative;
      display: block;
      width: 100%;
      font-size: 16px;
      padding: 10px 0;
      color: #1d2c4a;

      &:hover span {
        border-bottom: 1px solid #1f2c4b;
      }
    }
  }
}

.f-r-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 22vw;
  height: 100%;

  .r-menuin {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    li {
      position: relative;
      display: block;
      width: 100%;
      height: 25%;
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);


      a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        padding-left: 70px;
        transition: all 0.5s;

        &:hover {
          background-color: rgba(10, 10, 85, 0.4);
        }
        &:hover span {
          opacity: 1;
        }

        &:hover .r-main-txt {
          top: 65px;
        }
      }

      span {
        position: absolute;
        left: 70px;
        bottom: 50px;
        font-size: 15px;
        font-weight: 300;
        color: #fff;
        line-height: 1;
        opacity: 0;
        transition: all 0.7s;

        &::after {
          content: '';
          position: relative;
          display: inline-block;
          width: 56px;
          height: 12px;
          background: url('../images/arrow.png') no-repeat center;
          background-size: cover;
          margin-left: 60px;
        }
      }

    }
  }
}

.r-main-txt {
  position: absolute;
  top: 84px;
  display: block;
  color: #fff;
  transition: all 0.5s;

  strong {
    font-size: 37px;
    font-weight: 700;
  }

  p {
    font-size: 16px;
    margin-top: 20px;
  }
}


.f-main-txtbox {
  position: relative;
  display: block;
  width: 1600px;
  margin: 0 auto;
  background-color: rgba(170, 21, 21, 0.1);
  color: #fff;
  margin-top: 210px;

  p {
    position: relative;
    display: block;
    font-size: 22px;
    font-weight: 300;
  }

  strong {
    position: relative;
    display: block;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 85px;
    font-weight: 700;
    margin-top: 25px;
  }
}



.kakao-bt {
  position: absolute;
  bottom: 0;
  left: 52px;
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url('../images/icon-kakaotalk.svg') no-repeat center;
  background-size: 50px auto;
  background-color: #86786f;
  transition: all 0.3s;


  &:hover {
    box-shadow: 5px 5px 30px #1d2c4a;
    background: url('../images/icon-kakaotalk-png변환버전그레이.png') no-repeat center;
    background-size: 50px auto;
    background-color: #fff;
  }
}

.scroll-stick {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;

  span {
    display: inline-block;
    color: #fff;
    writing-mode: vertical-rl;
  }

  .w-bar {
    position: relative;
    top: 0;
    left: 6px;
    display: block;
    width: 1px;
    height: 130px;
    background-color: #fff;
    margin-top: 15px;
  }
}

/*=== /// first-page ===*/




/*=== Pergola set ===*/
.pergola-set {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 240px 0;
  background-color: rgb(128, 223, 223);

  ul {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    li {
      position: relative;
      display: block;
      width: 100%;
    }
  }

  .pla-set-inner {
    position: relative;
    display: flex;
    justify-content: center;
    width: 1600px;
    background-color: rgb(228, 222, 222);
    margin: 0 auto;


    span {
      position: relative;
      display: block;
      font-size: 18px;
      font-weight: 500;
    }

    strong {
      position: relative;
      display: block;
      font-family: 'Nanum Myeongjo', serif;
      font-size: 62px;
      margin-top: 60px;
      font-weight: bold;
    }

    p {
      position: relative;
      display: block;
      font-size: 20px;
      margin: 40px 0 110px;
    }

    .click-bt {
      display: inline-block;
      position: relative;
      width: 48px;
      height: 48px;


      &::before {
        display: block;
        content: '';
        width: 1px;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #000;
      }

      &::after {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #000;
      }



    }

  }

}


.pro-main {
  height: 100%;
  background-color: red;

  .pla-set-inner {
    padding: 0 160px;
    margin-bottom: 230px;


  }

  .pro-imgbox {
    position: relative;
    display: block;
    margin-right: 95px;

    a {
      position: relative;
      display: block;
      width: 662px;
      height: 826px;
      background: url('../images/pergola.img-1.jpg') no-repeat center;
      background-size: cover;
    }
  }

  .pro-txtbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.air-main {
  height: 100%;
  background-color: green;

  .pla-set-inner {
    margin-bottom: 230px;
    padding-right: 160px;
    justify-content: space-between;
  }

  .air-imgbox {
    position: relative;
    display: block;
    margin-left: 95px;

    a {
      position: relative;
      display: block;
      width: 826px;
      height: 662px;
      background: url('../images/pergola.img-2.jpg') no-repeat center;
      background-size: cover;
    }
  }

  .air-txtbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.sta-main {
  height: 100%;
  background-color: blue;

  .pla-set-inner {
    padding-right: 160px;
    margin-bottom: 230px;
    justify-content: flex-end;
  }

  .sta-imgbox {
    position: relative;
    display: block;
    margin-right: 95px;

    a {
      position: relative;
      display: block;
      width: 662px;
      height: 826px;
      background: url('../images/pergola.img-3.jpg') no-repeat center;
      background-size: cover;
    }
  }

  .sta-txtbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.orc-main {
  height: 100%;
  background-color: brown;

  .pla-set-inner {
    justify-content: space-between;
  }

  .orc-imgbox {
    position: relative;
    display: block;
    margin-left: 95px;

    a {
      position: relative;
      display: block;
      width: 1100px;
      height: 693px;
      background: url('../images/pergola.img-4.jpg') no-repeat center;
      background-size: cover;
    }
  }

  .orc-txtbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/*=== /// Pergola set ===*/




/*=== Parasol set ===*/
.parasol-set {
  position: relative;
  display: block;
  width: 100%;
  height: 1420px;
  background-color: #f6f6f6;
  padding: 240px 0;

}

.sol-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 805px;
}

.slidepart {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #c0cce4;

  h3 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
  }
}

/*=== ///Parasol set ===*/




/*===  Shade & Roofniture ===*/
.s-and-r {
  position: relative;
  display: block;
  width: 100%;
  height: 910px;
  background-color: rgb(49, 0, 0);

  .s-and-r-bg {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    background: url('../images/shade.jpg') no-repeat center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1);

    &::before {
      content: "";
      opacity: 0.4;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background-color: rgb(37, 37, 83);

    }


    li {
      position: relative;
      display: block;
      width: 50%;
      height: 100%;

      &:first-child {
        border-right: 1px solid rgba(255, 255, 255, 0.5);
      }

      a {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #fff;
        text-align: center;
        // transition: all 2s;

        &:hover span {
          border-color: #1D2C4A;
          background-color: #1D2C4A;
        }

        strong {
          font-size: 63px;
          font-family: 'Nanum Myeongjo', serif;
          font-weight: bold;
        }

        p {
          font-size: 18px;
          line-height: 1.7;
          margin-top: 23px;
        }

        span {
          position: relative;
          display: inline-block;
          font-size: 17px;
          font-weight: 300;
          border: 1px solid #fff;
          padding: 15px 47px;
          margin-top: 100px;
        }
      }
    }
  }
}

/*===  /// Shade & Roofniture ===*/



/*===  Project ===*/
.project {
  position: relative;
  display: block;
  width: 100%;
  height: 2410px;
  background-color: rgb(117, 126, 123);
  padding: 240px 0;
}

.pro-bgtxt {
  position: absolute;
  top: 0;
  right: 15px;
  display: block;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 172px;
  color: #f3f4f6;
  font-weight: 500;
  line-height: 1.05;
}

.pro-inner {
  position: relative;
  display: block;
  width: 1600px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 auto;

  h3 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 60px;
    font-weight: 400;
  }

  p {
    font-size: 18px;
    font-weight: 300;
    margin-top: 22px;
  }
}

.pro-imgpart {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 130px;
  background-color: rgba(0, 0, 255, 0.1);
}

.pro-imgbox {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
  background-color: #c0cce4;
}

/*===  /// Project ===*/




/*===  Contact us ===*/
.contact-us {
  position: relative;
  display: block;
  width: 100%;
  height: 680px;
  background: url('../images/contact.jpg') no-repeat center;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #1d2c4a;
    opacity: 0.5;
  }
}


.con-us-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 1600px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);

  .con-us-txtbox {
    position: relative;
    display: block;

    h3 {
      font-family: 'Nanum Myeongjo', serif;
      font-size: 60px;
      font-weight: 400;
    }

    p {
      font-size: 18px;
      font-weight: 300;
      margin-top: 22px;
    }
  }

  a {
    position: relative;
    display: inline-block;
    font-size: 18px;
    color: #fff;
    margin-top: 90px;
    padding-bottom: 7px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: #fff;
    }
  }
}

/*===  /// Contact us ===*/


/*===  footer ===*/
.footer {
  position: relative;
  display: block;
  width: 100%;
  height: 471px;
  background-color: #242424;
  padding: 65px;
  color: #7e7e7e;
}

.footer-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 1600px;
  text-align: center;

  strong {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
  }

  b {
    display: block;
    font-size: 37px;
    margin: 3px 0 20px;
    line-height: 1;
    font-weight: bold;
  }

  p {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    line-height: 1.6;

  }

  a {
    display: inline-block;
    width: 133px;
    height: 39px;
    background: url('../images/logo.svg') no-repeat center;
    background-size: contain;
    opacity: 0.4;
    margin-top: 50px;
  }

  h6 {
    margin-top: 18px;
    font-size: 16px;
  }

  span {
    font-size: 15px;
    color: #fff;
  }

}

.sns-link {
  position: absolute;
  top: 65px;
  right: 160px;
  display: flex;
  align-items: center;



  a {
    position: relative;
    display: block;
    width: 27px;
    height: 27px;
    opacity: 0.4;
    margin-right: 26px;

    &:last-child {
      margin-right: 0;
    }
  }

  .blog {
    background: url('../images/icon-blog-wh.svg') no-repeat center;
    background-size: contain;
  }

  .facebook {
    background: url('../images/icon-facebook.svg') no-repeat center;
    background-size: contain;
  }

  .youtube {
    background: url('../images/icon-youtube.svg') no-repeat center;
    background-size: contain;
  }

  .instargram {
    background: url('../images/icon-insta.svg') no-repeat center;
    background-size: contain;
  }
}

/*===  /// footer ===*/