@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
/* 프리텐다드 */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Noto Sans KR", sans-serif, "Nanum Myeongjo", serif;
  line-height: 1.4;
}

.click-bt {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  transition: all 0.5s;
}
.click-bt:hover {
  transform: rotate(180deg);
}
.click-bt::before {
  display: block;
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
}
.click-bt::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
}

/*=== wrap 레이아웃 ===*/
.wrap {
  position: relative;
  display: block;
}

/*  ==== Modal Popup ==== */
.modal-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999999999;
  transition: all 0.5s;
}

.modal-close-active {
  opacity: 0;
  visibility: hidden;
}

.modal-main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 600px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-color: #fff;
  padding: 10px 50px;
  font-family: "Pretendard-Regular";
}

/* top */
.modal-top {
  position: relative;
  display: block;
}

.modal-title {
  position: relative;
  display: block;
  width: 80%;
  height: 40px;
  background-color: #29306a;
  border-radius: 5px;
  margin: 10px auto;
  font-size: 26px;
  font-weight: 300;
  line-height: 40px;
  text-align: center;
  color: #fff;
}

.modal-top ul {
  position: relative;
  display: block;
}

.modal-top ul::after {
  content: "🔥 문제시 연락해주시면 삭제하겠습니다.";
  font-size: 14px;
  color: #c25151;
}

.modal-top ul li {
  position: relative;
  display: block;
  line-height: 25px;
}

.modal-top ul li span {
  color: #67af55;
  font-weight: 600;
}

.modal-top ul li .modal-email {
  color: #29306a;
}

/* middle */
.modal-middle {
  position: relative;
  display: block;
  margin: 20px 0;
}

.modal-subTitle {
  position: relative;
  display: block;
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
}

.modal-middle ul {
  position: relative;
  display: block;
}

.modal-middle ul li {
  line-height: 25px;
}

/* bottom */
.modal-bottom {
  position: relative;
  display: block;
  margin: 20px 0;
}

.modal-bottom p {
  position: relative;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.modal-bottom p span {
  color: #4285f4;
}

.modal-close {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 200px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #444;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  transition: all 0.3s;
  cursor: pointer;
}

.modal-close:hover {
  background-color: #67af55;
  color: #fff;
}

/*  ==== /// Modal Popup ==== */
/*=== first-page ===*/
.first-page {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
}

.main-video {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  z-index: 9999;
  overflow: hidden;
  transition: all 0.5s;
  background-color: transparent;
}
.header .logo {
  position: absolute;
  top: 30px;
  left: 60px;
  display: block;
  width: 135px;
  height: 45px;
  background: url("../images/logo.svg") no-repeat center;
  background-size: contain;
  z-index: 99999;
  transition: all 0.5s;
}
.header .main-gnb {
  position: relative;
  display: flex;
  justify-content: center;
  height: 340px;
  font-size: 20px;
  transition: all 0.5s;
}
.header .main-gnb::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 100vw;
  height: 100px;
  background-color: rgba(255, 255, 255, 0);
  z-index: -1;
}
.header .main-gnb::after {
  content: "";
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 100vw;
  height: 240px;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid #d5d5d5;
  z-index: -1;
}
.header .main-gnb:hover > li > a {
  color: #1f2c4b;
}
.header .main-gnb > li {
  position: relative;
  display: block;
  height: 100px;
  text-align: center;
  border-bottom: 2px solid transparent;
  transition: all 0.6s;
}
.header .main-gnb > li:hover {
  border-bottom: 2px solid #1f2c4b;
}
.header .main-gnb > li:hover > a {
  color: #1f2c4b;
}
.header .main-gnb > li > a {
  position: relative;
  display: flex;
  height: 100px;
  padding: 0 60px;
  color: #fff;
  opacity: 0.7;
  align-items: center;
}
.header .application-bt {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100px;
  height: 100px;
  background-color: #1d2c4a;
  padding-top: 25px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  line-height: 1.4;
  transition: all 0.5s;
}
.header .application-bt:hover {
  background-color: #fff;
  box-shadow: 5px 5px 30px #1d2c4a;
  color: #1d2c4a;
}

.subgnb {
  position: relative;
  display: block;
  height: calc(100% - 240px);
  transition: background-color 0.5s;
  padding-top: 10px;
  border-top: 1px solid #d5d5d5;
}
.subgnb > li {
  position: relative;
  display: block;
  border-bottom: 1px solid transparent;
}
.subgnb > li > a {
  position: relative;
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 10px 0;
  color: #1d2c4a;
}
.subgnb > li > a:hover span {
  border-bottom: 1px solid #1f2c4b;
}

.f-r-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 22vw;
  height: 100%;
  z-index: 999;
}
.f-r-menu .r-menuin {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.f-r-menu .r-menuin li {
  position: relative;
  display: block;
  width: 100%;
  height: 25%;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.f-r-menu .r-menuin li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 70px;
  transition: all 0.5s;
}
.f-r-menu .r-menuin li a:hover {
  background-color: rgba(10, 10, 85, 0.4);
}
.f-r-menu .r-menuin li a:hover span {
  opacity: 1;
}
.f-r-menu .r-menuin li a:hover .r-main-txt {
  top: 65px;
}
.f-r-menu .r-menuin li span {
  position: absolute;
  left: 70px;
  bottom: 50px;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  line-height: 1;
  opacity: 0;
  transition: all 0.7s;
}
.f-r-menu .r-menuin li span::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 56px;
  height: 12px;
  background: url("../images/arrow.png") no-repeat center;
  background-size: cover;
  margin-left: 60px;
}

.r-main-txt {
  position: absolute;
  top: 84px;
  display: block;
  color: #fff;
  transition: all 0.5s;
}
.r-main-txt strong {
  font-size: 37px;
  font-weight: 700;
}
.r-main-txt p {
  font-size: 16px;
  margin-top: 20px;
}

.f-mtxtin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
}

.f-main-txtbox {
  position: relative;
  display: block;
  width: 1600px;
  margin: 0 auto;
  color: #fff;
}
.f-main-txtbox p {
  position: relative;
  display: block;
  font-size: 22px;
  font-weight: 300;
  opacity: 0;
}
.f-main-txtbox strong {
  position: relative;
  display: block;
  font-family: "Nanum Myeongjo", serif;
  font-size: 85px;
  font-weight: 700;
  margin-top: 25px;
  opacity: 0;
}

.palystop-bt {
  position: relative;
  display: block;
  width: 64px;
  height: 69px;
  margin-top: 110px;
}
.palystop-bt .progress-btn {
  background: none;
  outline: none;
  border: 0;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 20px;
  line-height: 1;
  margin-top: -2px;
  cursor: pointer;
}

.progress-circle circle {
  stroke-dasharray: 201;
  stroke-dashoffset: 201;
  -webkit-animation-name: dash;
          animation-name: dash;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform: rotate(-90deg);
  transform-origin: center center;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.kakao-bt {
  position: absolute;
  bottom: 0;
  left: 52px;
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("../images/icon-kakaotalk.svg") no-repeat center;
  background-size: 50px auto;
  background-color: #86786f;
  transition: all 0.3s;
}
.kakao-bt:hover {
  box-shadow: 5px 5px 30px #1d2c4a;
  background: url("../images/icon-kakaotalk-png변환버전그레이.png") no-repeat center;
  background-size: 50px auto;
  background-color: #fff;
}

.scroll-stick {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}
.scroll-stick span {
  display: inline-block;
  color: #fff;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
}
.scroll-stick .w-bar {
  position: relative;
  top: 0;
  left: 8px;
  display: block;
  width: 1px;
  height: 130px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 15px;
}
.scroll-stick .w-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1px;
  height: 0px;
  background-color: rgb(255, 255, 255);
  -webkit-animation-name: st;
          animation-name: st;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

/*=== /// first-page ===*/
/*=== Pergola set ===*/
.pergola-set {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 240px 0;
}
.pergola-set .pergola-set-bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  width: 1500px;
  margin-top: 193px;
  margin-left: 51px;
  opacity: 0.15;
  z-index: -1;
}
.pergola-set ul {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.pergola-set ul li {
  position: relative;
  display: block;
  width: 100%;
}
.pergola-set .pla-set-inner {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1600px;
  margin: 0 auto;
}
.pergola-set .pla-set-inner span {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 500;
  opacity: 0;
}
.pergola-set .pla-set-inner strong {
  position: relative;
  display: block;
  font-family: "Nanum Myeongjo", serif;
  font-size: 62px;
  margin-top: 60px;
  font-weight: bold;
  opacity: 0;
}
.pergola-set .pla-set-inner p {
  position: relative;
  display: block;
  font-size: 20px;
  margin: 40px 0 110px;
  opacity: 0;
}
.pergola-set .pla-set-inner .plus a {
  opacity: 0;
}

.pla-set-imgbox {
  opacity: 0;
}

.pro-main {
  height: 100%;
}
.pro-main .pla-set-inner {
  padding: 0 160px;
  margin-bottom: 230px;
}
.pro-main .pro-imgbox {
  position: relative;
  display: block;
  margin-right: 95px;
}
.pro-main .pro-imgbox a {
  position: relative;
  display: block;
  width: 662px;
  height: 826px;
  background: url("../images/pergola.img-1.jpg") no-repeat center;
  background-size: cover;
}
.pro-main .pro-txtbox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.air-main {
  height: 100%;
}
.air-main .pla-set-inner {
  margin-bottom: 230px;
  padding-right: 160px;
  justify-content: space-between;
}
.air-main .air-imgbox {
  position: relative;
  display: block;
  margin-left: 95px;
}
.air-main .air-imgbox a {
  position: relative;
  display: block;
  width: 826px;
  height: 662px;
  background: url("../images/pergola.img-2.jpg") no-repeat center;
  background-size: cover;
}
.air-main .air-txtbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sta-main {
  height: 100%;
}
.sta-main .pla-set-inner {
  padding-right: 160px;
  margin-bottom: 230px;
  justify-content: flex-end;
}
.sta-main .sta-imgbox {
  position: relative;
  display: block;
  margin-right: 95px;
}
.sta-main .sta-imgbox a {
  position: relative;
  display: block;
  width: 662px;
  height: 826px;
  background: url("../images/pergola.img-3.jpg") no-repeat center;
  background-size: cover;
}
.sta-main .sta-txtbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.orc-main {
  height: 100%;
}
.orc-main .pla-set-inner {
  justify-content: space-between;
}
.orc-main .orc-imgbox {
  position: relative;
  display: block;
  margin-left: 95px;
}
.orc-main .orc-imgbox a {
  position: relative;
  display: block;
  width: 1100px;
  height: 693px;
  background: url("../images/pergola.img-4.jpg") no-repeat center;
  background-size: cover;
}
.orc-main .orc-txtbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*=== /// Pergola set ===*/
/*=== Parasol set ===*/
.parasol-set {
  position: relative;
  display: block;
  width: 100%;
  height: 1420px;
  background-color: #f6f6f6;
  padding: 240px 0;
  overflow: hidden;
}
.parasol-set h3 {
  font-family: "Nanum Myeongjo", serif;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
  opacity: 0;
}

.sol-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 805px;
}

.slidepart {
  position: relative;
  display: block;
  width: 4290px;
  height: 900px;
  margin-left: -1185px;
  opacity: 0;
}
.slidepart .sw-paraosl {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.slidepart .sw-paraosl .swiper-slide {
  text-align: center;
}
.slidepart .sw-paraosl .parasol-slide {
  position: relative;
  display: block;
  width: 1430px;
  height: 715px;
}
.slidepart .swiper-container {
  height: 900px;
}
.slidepart .sw-sol-nav {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 1830px;
  height: 100px;
  z-index: 999999;
}
.slidepart .sw-sol-nav .sw-sol-next {
  width: 10px;
  height: 20px;
}
.slidepart .sw-sol-nav .sw-sol-next::after {
  display: none;
}
.slidepart .sw-sol-nav .sw-sol-prev {
  width: 10px;
  height: 20px;
}
.slidepart .sw-sol-nav .sw-sol-prev::after {
  display: none;
}

.icon-left-open-big {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  font-size: 45px;
  color: #fff;
  transition: all 0.5s;
}
.icon-left-open-big:hover {
  left: -15px;
}

.icon-right-open-big {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  font-size: 45px;
  color: #fff;
  transition: all 0.5s;
}
.icon-right-open-big:hover {
  left: 15px;
}

.sol-img {
  position: relative;
  display: block;
  width: 1430px;
  height: 715px;
  transition: all 0.8s;
}

.swiper-slide .sol-img {
  transform: scale(0.8);
  filter: brightness(50%);
}

.swiper-slide-active .sol-img {
  transform: scale(1);
  filter: brightness(100%);
}

.sol-img1 {
  background: url("../images/parasol-slide.1.png") no-repeat center;
  background-size: cover;
}

.sol-img2 {
  background: url("../images/parasol-slide.2.png") no-repeat center;
  background-size: cover;
}

.sol-img3 {
  background: url("../images/parasol-slide.3.png") no-repeat center;
  background-size: cover;
}

.sol-img4 {
  background: url("../images/parasol-slide.4.png") no-repeat center;
  background-size: cover;
}

.sol-img5 {
  background: url("../images/parasol-slide.5.png") no-repeat center;
  background-size: cover;
}

.sol-img6 {
  background: url("../images/parasol-slide.6.png") no-repeat center;
  background-size: cover;
}

.sol-img7 {
  background: url("../images/parasol-slide.7.png") no-repeat center;
  background-size: cover;
}

.sol-img8 {
  background: url("../images/parasol-slide.8.png") no-repeat center;
  background-size: cover;
}

.sol-img9 {
  background: url("../images/parasol-slide.9.png") no-repeat center;
  background-size: cover;
}

.parasol-txt {
  position: absolute;
  top: 615px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 915px;
  background-color: #f6f6f6;
  padding: 40px 45px;
}
.parasol-txt .plus {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100px;
  height: 100px;
  background-color: #1d2c4a;
  text-align: center;
  padding-top: 26px;
  z-index: 999;
}
.parasol-txt .plus .click-bt::before {
  background: #fff;
}
.parasol-txt .plus .click-bt::after {
  background: #fff;
}
.parasol-txt b {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 600;
}
.parasol-txt h4 {
  position: relative;
  display: block;
  font-family: "Nanum Myeongjo", serif;
  font-size: 57px;
  font-weight: 400;
  margin: 10px 0;
}
.parasol-txt p {
  font-size: 16px;
  line-height: 1.7;
  word-break: keep-all;
}

/*=== ///Parasol set ===*/
/*===  Shade & Roofniture ===*/
.s-and-r {
  position: relative;
  display: block;
  width: 100%;
  height: 910px;
}
.s-and-r .s-and-r-bg {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/shade.jpg") no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 1s;
}
.s-and-r .s-and-r-bg::before {
  content: "";
  opacity: 0.4;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgb(37, 37, 83);
}
.s-and-r ul {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}
.s-and-r ul li {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
}
.s-and-r ul li:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.s-and-r ul li a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
}
.s-and-r ul li a:hover span {
  border-color: #1d2c4a;
  background-color: #1d2c4a;
}
.s-and-r ul li a strong {
  font-size: 63px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: bold;
}
.s-and-r ul li a p {
  font-size: 18px;
  line-height: 1.7;
  margin-top: 23px;
}
.s-and-r ul li a span {
  position: relative;
  display: inline-block;
  font-size: 17px;
  font-weight: 300;
  border: 1px solid #fff;
  padding: 15px 47px;
  margin-top: 100px;
  transition: all 0.7s;
}

.srBg-r-active {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/model-airea-1.jpg") no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 1s;
  opacity: 0;
}
.srBg-r-active::before {
  content: "";
  opacity: 0.4;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgb(37, 37, 83);
}

/*===  /// Shade & Roofniture ===*/
/*===  Project ===*/
.project {
  position: relative;
  display: block;
  width: 100%;
  height: 2410px;
  padding: 240px 0;
  background-color: #fff;
}

.project-bgtxt {
  position: absolute;
  top: 0;
  right: 15px;
  display: block;
  font-family: "Nanum Myeongjo", serif;
  font-size: 172px;
  color: #f3f4f6;
  font-weight: 500;
  line-height: 1.05;
}

.project-inner {
  position: relative;
  display: block;
  width: 1600px;
  height: 100%;
  margin: 0 auto;
}
.project-inner h3 {
  position: relative;
  display: block;
  font-family: "Nanum Myeongjo", serif;
  font-size: 60px;
  font-weight: 400;
  opacity: 0;
}
.project-inner p {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 300;
  margin-top: 22px;
  opacity: 0;
}

.project-imgpart {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 130px;
}

.project-imgbox {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
}

.project-itembox {
  position: relative;
  display: block;
  box-shadow: 14px 40px 68px 18px rgba(25, 32, 66, 0.3);
  overflow: hidden;
  opacity: 0;
}
.project-itembox:hover .project-txt {
  opacity: 1;
  top: 0;
}

.project-txt {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #86786f;
  color: #fff;
  padding: 65px;
  opacity: 0;
  transition: all 1.5s;
}
.project-txt h5 {
  font-size: 17px;
  display: block;
}
.project-txt strong {
  display: block;
  font-family: "Nanum Myeongjo", serif;
  font-size: 60px;
  font-weight: 400;
  margin-top: 70px;
}
.project-txt p {
  display: block;
  font-size: 25px;
  margin-top: 23px;
}

.more-view-bt {
  position: relative;
  display: inline-block;
  font-size: 18px;
  margin-top: 100px;
  padding-bottom: 7px;
}
.more-view-bt::after {
  content: "";
  position: absolute;
  margin-top: 6px;
  display: block;
  width: 90px;
  height: 2px;
  background-color: #fff;
  transition: all 0.5s;
}
.more-view-bt:hover::after {
  -webkit-animation-name: roadbar;
          animation-name: roadbar;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.project-itembox-1 {
  left: -34px;
  width: 814px;
  height: 472px;
  margin-bottom: 200px;
}
.project-itembox-1 .project-img1 {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/project-1.jpg") no-repeat center;
  background-size: cover;
}
.project-itembox-1 .project-txt-1 {
  text-align: right;
}
.project-itembox-1 .project-txt-1 span::after {
  right: 0;
}

.project-itembox-3 {
  left: 80px;
  width: 560px;
  height: 745px;
}
.project-itembox-3 .project-img3 {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/project-3.jpg") no-repeat center;
  background-size: cover;
}

.project-itembox-2 {
  left: 180px;
  width: 583px;
  height: 740px;
  margin-top: 300px;
}
.project-itembox-2 .project-img2 {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/project-2.jpg") no-repeat center;
  background-size: cover;
}

.project-itembox-4 {
  left: 40px;
  width: 774px;
  height: 433px;
  margin-top: 200px;
}
.project-itembox-4 .project-img4 {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/project-4.jpg") no-repeat center;
  background-size: cover;
}

/*===  /// Project ===*/
/*===  Contact us ===*/
.contact-us {
  position: relative;
  display: block;
  width: 100%;
  height: 680px;
  overflow: hidden;
}
.contact-us::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #1d2c4a;
  opacity: 0.5;
  z-index: 1;
}
.contact-us .contact-bg {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/contact.jpg") no-repeat center;
  background-size: cover;
}

.con-us-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 1600px;
  color: #fff;
  z-index: 2;
}
.con-us-inner .con-us-txtbox {
  position: relative;
  display: block;
}
.con-us-inner .con-us-txtbox h3 {
  position: relative;
  display: block;
  font-family: "Nanum Myeongjo", serif;
  font-size: 60px;
  font-weight: 400;
  opacity: 0;
}
.con-us-inner .con-us-txtbox p {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 300;
  margin-top: 22px;
  opacity: 0;
}
.con-us-inner a {
  position: relative;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  margin-top: 90px;
  padding-bottom: 7px;
  opacity: 0;
}
.con-us-inner a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}

/*===  /// Contact us ===*/
/*===  footer ===*/
.footer {
  position: relative;
  display: block;
  width: 100%;
  height: 471px;
  background-color: #242424;
  padding: 65px;
  color: #7e7e7e;
}

.footer-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 1600px;
  text-align: center;
}
.footer-inner strong {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.footer-inner b {
  display: block;
  font-size: 37px;
  margin: 3px 0 20px;
  line-height: 1;
  font-weight: bold;
}
.footer-inner p {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 15px;
  line-height: 1.6;
}
.footer-inner a {
  display: inline-block;
  width: 133px;
  height: 39px;
  background: url("../images/logo.svg") no-repeat center;
  background-size: contain;
  opacity: 0.4;
  margin-top: 50px;
}
.footer-inner h6 {
  margin-top: 18px;
  font-size: 16px;
}
.footer-inner span {
  font-size: 15px;
  color: #fff;
}

.sns-link {
  position: absolute;
  top: 65px;
  right: 160px;
  display: flex;
  align-items: center;
  z-index: 999999;
}
.sns-link a {
  position: relative;
  display: block;
  width: 27px;
  height: 27px;
  opacity: 0.4;
  margin-right: 26px;
  transition: all 0.5s;
}
.sns-link a:last-child {
  margin-right: 0;
}
.sns-link a:hover {
  opacity: 1;
}
.sns-link .blog {
  background: url("../images/icon-blog-wh.svg") no-repeat center;
  background-size: contain;
}
.sns-link .facebook {
  background: url("../images/icon-facebook.svg") no-repeat center;
  background-size: contain;
}
.sns-link .youtube {
  background: url("../images/icon-youtube.svg") no-repeat center;
  background-size: contain;
}
.sns-link .instargram {
  background: url("../images/icon-insta.svg") no-repeat center;
  background-size: contain;
}

.gotop {
  position: fixed;
  bottom: 50px;
  right: 30px;
  display: block;
  width: 70px;
  height: 70px;
  background-color: #1d2c4a;
  z-index: 99999;
}
.gotop:hover span {
  top: 35%;
}
.gotop span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  transition: all 0.5s;
}

/*===  /// footer ===*/
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeup-1 {
  -webkit-animation-name: fadeup-1;
          animation-name: fadeup-1;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeup-1 {
  0% {
    opacity: 0;
    top: 150px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes fadeup-1 {
  0% {
    opacity: 0;
    top: 150px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
.fadeup-2 {
  -webkit-animation-name: fadeup-2;
          animation-name: fadeup-2;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeup-2 {
  0% {
    opacity: 0;
    top: 300px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes fadeup-2 {
  0% {
    opacity: 0;
    top: 300px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
.radius-effect {
  -webkit-animation-name: radius-effect;
          animation-name: radius-effect;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes radius-effect {
  0% {
    border-radius: 200px;
  }
  100% {
    border-radius: 0;
  }
}

@keyframes radius-effect {
  0% {
    border-radius: 200px;
  }
  100% {
    border-radius: 0;
  }
}
@-webkit-keyframes roadbar {
  0% {
    width: 0;
  }
  100% {
    width: 90px;
  }
}
@keyframes roadbar {
  0% {
    width: 0;
  }
  100% {
    width: 90px;
  }
}
.scroll-zoomin {
  -webkit-animation-name: zoomin;
          animation-name: zoomin;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes zoomin {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes zoomin {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.st {
  /* 애니메이션 */
  -webkit-animation-name: st;
          animation-name: st;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@-webkit-keyframes st {
  0% {
    top: 0px;
    left: 0;
  }
  50% {
    top: 0px;
    left: 0;
    height: 130px;
  }
  100% {
    top: 130px;
    left: 0;
    height: 0px;
  }
}

@keyframes st {
  0% {
    top: 0px;
    left: 0;
  }
  50% {
    top: 0px;
    left: 0;
    height: 130px;
  }
  100% {
    top: 130px;
    left: 0;
    height: 0px;
  }
}/*# sourceMappingURL=main.css.map */